.section{
  padding: 8rem 0 7rem;
  text-align: center;
}

.section.heading,
.section-description{
  margin-bottom: 1.2rem;
}

.showcase{
  text-align: left;
}

.showcase-title{
  padding: 2rem;
}
.showcase-img{
  position: relative;
  max-width: 80%;
}

.section-1{
  padding-bottom: 5rem;
}


.section-1 .fa{
  font-size: 40px;
  margin-bottom: .5rem;
}

.moveAround{
  -webkit-animation-name: moveAround; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: moveAround;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes moveAround {
    0%   {left:0px; top:0px; opacity: 1;}
    50%  {left:100px; top:0px; opacity: 0;}
    100% {left:0px; top:0px; opacity: 1;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveAround {
    0%   {left:0px; top:0px;}
    50%  {left:100px; top:0px;}
    100% {left:0px; top:0px;}
}
