/* =Debug - COMMENT OUT FOR PRODUCTION
-------- */


/* .column, .columns {
	 border-style: solid;
	border-color: yellow;
}*/
div {
	/* border-style: ridge;
	border-color: red; */
}

/* =Main Styling
-------- */
body {
	background-color: #b0e8f5;
	transition: background-color 0.7s ease;
}

/* =Navigation
-------- */

#header-logo {
	max-height: 50px;
}

.navbar {
	padding-top: 5px;
	max-height: 50px;

}

.navbar ul li {
	display: inline;
}

.navbar li {
	transition: background-color 0.7s ease;

	padding: 10px;

}

.navbar li:hover {
	background-color: rgba(100, 100, 100, 0.2);

}

.navbar li.active {
	background-color: rgba(100, 100, 100, 0.2);
}

.navbar .active {
}


.navbar-items{

}

.navbar-items a {
	font-size: 2rem;
	text-decoration: none;
	color: #f2f2f2;
	font-weight: normal;
	padding: 10px;

}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer {
  position:fixed;
  height: 50px;
  display:block;
  width: 100%;
  /* background: linear-gradient(rgba(100, 100, 100, 0.2), transparent); */
	/* background: rgba(100, 100, 100, 0.2); */
  z-index:9;
  text-align:center;
  color: #f2f2f2;
}

#header {
  top:0px;
}
#footer {
  bottom:0px;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section.heading,
.section-description{
  margin-bottom: 1.2rem;
}

.showcase {
  text-align: left;
}

.showcase-title {
  padding: 2rem;
}
.showcase-img {
  position: relative;
  max-width: 100%;
}

.section-1 {
  padding-bottom: 5rem;
}


.section-1 .fa {
  font-size: 40px;
  margin-bottom: .5rem;
}

.folio-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	max-width: 960px;
	margin: auto;

}

.folio-grid-item {
	flex: 100%;
  max-width: 100%;
	height: 30rem;
}

.folio-grid-item:hover {
	background-color: rgba(100, 100, 100, 0.2);
	transition: background-color 0.7s ease;
}

.folio-grid-item img{
	flex: 50%;
	max-width: 100%;
	max-height: 75%;
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.moveAround {
  -webkit-animation-name: moveAround; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: moveAround;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}

/* Standard syntax */
@keyframes moveAround {
    0%   {left:0px; top:0px; opacity: 1;}
    50%  {left:100px; top:0px; opacity: 0;}
    100% {left:0px; top:0px; opacity: 1;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveAround {
    0%   {left:0px; top:0px; opacity: 1;}
    50%  {left:100px; top:0px; opacity: 0;}
    100% {left:0px; top:0px; opacity: 1;}
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {
	.folio-grid-item{
		flex: 50%;
		max-width: 50%;

	}

}

/* Larger than tablet */
@media (min-width: 750px) {
}


/* Larger than desktop */
@media (min-width: 1000px) {
	.folio-grid-item {
    flex: 33%;
    max-width: 33%;
  }


}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
